<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/estilos.css">
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>FEHeroes</title>
</head>

<body>

    <header>
        <!-- Nav en el Header -->
        <nav class="navbar navbar-expand-lg navbar-dark">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Icono -->
            <img class="iconoFeh" src="../../static/Img/FEH_icon.png" alt="Responsive image">

            <!-- links del nav -->
            <div class="collapse navbar-collapse justify-content-center" id="navbarToggler">
                <ul class="navbar-nav mr-auto mt-0 mt-md-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="../blog/portada.html">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="../blog/heroes.html">Heroes</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="../blog/questions.html">Contact us</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- Titulo -->
    <div>
        <h1 class="letras-titulo">
            Heroes from Fire Emblem
        </h1>
    </div>

    <!-- Container con informaciones e imagenes -->
    <section class="container">
        <div class="row margen">
            <div class="col-md-6">
                <div class="container-responsivo">
                    <img src="../../static/Img/Full_Portrait_Alm.png" class="img-fluid" alt="">
                </div>
            </div>
            <div class="row col-md-6">
                <div class="container-responsivo content-right">
                    <h3><b class="letras-titulo">Alm</b></h3>
                    <p class="letras-general">A brave but kind young warrior, raised by the hero Mycen in Ram Village.
                        His left hand is marked with the Brand. Appears in Fire Emblem Echoes: Shadows of Valentia.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="container-responsivo">
                    <img src="../../static/Img/Full_Portrait_Celica.png" class="img-fluid" alt="">
                </div>
            </div>
            <div class="row col-md-6">
                <div class="container-responsivo content-right">
                    <h3><b class="letras-titulo">Celica</b></h3>
                    <p class="letras-general">The princess of Zofia; trained as a priestess. Caring toward others, and
                        dislikes fighting. Bears the Brand on her right hand. Appears in Fire Emblem Echoes: Shadows of
                        Valentia.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="container-responsivo">
                    <img src="../../static/Img/Full_Portrait_Ephraim.png" class="img-fluid" alt="">
                </div>
            </div>
            <div class="row col-md-6">
                <div class="container-responsivo content-right">
                    <h3><b class="letras-titulo">Ephraim</b></h3>
                    <p class="letras-general"> Prince of Renais. Eirika's twin. Cares deeply for his sister. His
                        confidence has sometimes put him in danger. Appears in Fire Emblem: The Sacred Stones.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="container-responsivo">
                    <img src="../../static/Img/Full_Portrait_Eirika.png" class="img-fluid" alt="">
                </div>
            </div>
            <div class="row col-md-6">
                <div class="container-responsivo content-right">
                    <h3><b class="letras-titulo">Eirika</b></h3>
                    <p class="letras-general">Princess of Renais. Ephraim's twin. Cares dearly for her brother. Her
                        kindness has sometimes put her in danger. Appears in Fire Emblem: The Sacred Stones.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="container-responsivo">
                    <img src="../../static/Img/Full_Portrait_Seliph.png" class="img-fluid" alt="">
                </div>
            </div>
            <div class="row col-md-6">
                <div class="container-responsivo content-right">
                    <h3><b class="letras-titulo">Seliph</b></h3>
                    <p class="letras-general">Inheritor of the sacred sword Tyrfing. A savior in his time, but dislikes
                        battle. Julia's half brother. Appears in Fire Emblem: Genealogy of the Holy War.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="container-responsivo">
                    <img src="../../static/Img/Full_Portrait_Cordelia.png" class="img-fluid" alt="">
                </div>
            </div>
            <div class="row col-md-6">
                <div class="container-responsivo content-right">
                    <h3><b class="letras-titulo">Cordelia</b></h3>
                    <p class="letras-general"> The sole survivor of Ylisse's pegasus knights. Humble and supremely
                        talented. Appears in Fire Emblem Awakening.</p>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3 letras-general">© 2020 Copyright:
            <a class="text-reset letras-general" href="https://disdainforthemoon.tumblr.com/">
                disdainforthemoon.tumblr.com</a>
        </div>
    </footer>



    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>

</html>