<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/estilos.css">
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>FEQuestions</title>
</head>

<body>
    <header>
        <!-- Nav en el Header -->
        <nav class="navbar navbar-expand-lg navbar-dark">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Icono -->
            <img class="iconoFeh" src="../../static/Img/FEH_icon.png" alt="Responsive image">

            <!-- links del nav -->
            <div class="collapse navbar-collapse justify-content-center" id="navbarToggler">
                <ul class="navbar-nav mr-auto mt-0 mt-md-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="../blog/portada.html">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="../blog/heroes.html">Heroes</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="../blog/questions.html">Contact us</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <!-- formulario -->
    <div class="container">
        <form id="contact-form" name="contact-form" class="text-center p-5" action="#" method="POST">

            <p class="h4 mb-4 letras-titulo">Contact us</p>

            <!-- Email -->
            <input type="email" id="email" name="email" class="form-control mb-4" placeholder="E-mail">

            <!-- Nombre -->
            <input type="text" id="name" name="name" class="form-control mb-4" placeholder="Name">

            <!-- Movil -->
            <input type="text" id="phone" name="phone" class="form-control mb-4" placeholder="Phone">

            <!-- Mensaje -->
            <div class="form-group">
                <textarea name="message" class="form-control rounded-0" id="message" rows="3"
                    placeholder="Message"></textarea>
            </div>

            <!-- Copia -->
            <div class="custom-control custom-checkbox mb-4">
                <input type="checkbox" class="custom-control-input" id="defaultContactFormCopy">
                <label class="custom-control-label letras-general" for="defaultContactFormCopy">Send me a copy of this
                    message</label>
            </div>

            <!--  Boton de enviar -->
            <button class="btn btn-info btn-block" onclick="validateForm()">Send</button>
            <div class="status letras-general"></div>

        </form>
    </div>

    <footer>
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3 letras-general">© 2020 Copyright:
            <a class="text-reset letras-general" href="https://disdainforthemoon.tumblr.com/">
                disdainforthemoon.tumblr.com</a>
        </div>
    </footer>
    <!-- JavaScript -->
    <script src="../../static/js/Formulario.js"></script>

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>

</html>